$even-row-bg-color: rgb(99, 121, 109);
$odd-row-bg-color:  rgb(106, 143, 123);

$main-text-color: #fff;
$even-row-text-color: #fff;
$odd-row-text-color: #fff;

$input-border-color: rgb(216, 204, 204);

$table-border-color: rgb(64, 85, 74);
$image-border-color: #fff;
